.Contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Contact-background {
    background-image: url(./contact_background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }
  .Contact-dummy {
    width: 1440px;
    height: 740px;
  }
  .Contact-logo {
    width: 100px;
    height: 100px;
    position: relative;
    top: 360px;
    left: -301px;
  }
  .pinwheel {
    width: 10px;
    height: 10px;
    position: relative;
    top: 305px;
    left: -301px;
  }
  .email {
    font-family: Assistant;    
    letter-spacing: 3pt;
    font-size: 25pt;
    color: #114895;
    position: relative;
    top:230px;
  }