.Home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Home-justin {
      height: 280px;
      width: 500px;
      padding-top: 250px;
      padding-bottom: 240px;
      padding-left: 490px;
      padding-right: 490px;
      pointer-events: none;
      user-select: none;
  }
  
  .Home-background {
    background-image: url(./home_background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  