.Projects {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  }
  .Projects-background {
    background-image: url(./projects_background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }
  .Projects-dummy {
    width: 1440px;
    height: 2080px;
  }

  .turkeybowl {
    position: relative;
    pointer-events: none;
    user-select: none;
    top: 290px;
    left: 0px;
  }
  .turkeybowl-header {
    font-family: Assistant;
    font-size: 25pt;
    color: #1D5B9B;
    position: relative;
    top: 0px;
    left: 200px;
    width: 100%;
    margin: 0;
  }
  .turkeybowl-wrapper {
    pointer-events: none;
    user-select: none;
    margin-bottom: 300px;
  }
  .turkeybowl-text {
    width: 800px;
    font-family: Nanum Gothic;
    font-size: 13pt;
    line-height: 27pt;
    text-align: left;
    position: relative;
    top: 5px;
    left: 200px;
  }

  .hair {
    position: relative;
    pointer-events: none;
    user-select: none;
    top: 290px;
    left: 200px;
  }
  .hair-header {
    font-family: Assistant;
    font-size: 25pt;
    color: #1D5B9B;
    position: relative;
    top: 0px;
    left: 200px;
    width: 100%;
    margin: 0;
  }
  .hair-wrapper {
    pointer-events: none;
    user-select: none;
    margin-bottom: 300px;
  }
  .hair-text {
    width: 800px;
    font-family: Nanum Gothic;
    font-size: 13pt;
    line-height: 27pt;
    text-align: left;
    position: relative;
    top: 5px;
    left: 200px;
  }

  .marriage {
    position: relative;
    pointer-events: none;
    user-select: none;
    top: 290px;
    left: 400px;
  }
  .marriage-header {
    font-family: Assistant;
    font-size: 25pt;
    color: #1D5B9B;
    position: relative;
    top: 0px;
    left: 200px;
    width: 100%;
    margin: 0;
  }
  .marriage-wrapper {
    pointer-events: none;
    user-select: none;
    margin-bottom: 300px;
  }
  .marriage-text {
    width: 800px;
    font-family: Nanum Gothic;
    font-size: 13pt;
    line-height: 27pt;
    text-align: left;
    position: relative;
    top: 5px;
    left: 200px;
  }